{
    "presets": [
        "env",
        "react",
        "survivejs-kanban"
    ],
    "env": {
        "start": {
            "presets": [
                "react-hmre"
            ]
        }
    }
}
